.html {
    width: 1024px;
    height: 768px;
}

.main-window {
    position: relative;

    width: 1024px;
    height: 768px;
    top: 80px;

    background-color: #008080;
}

/*taskbar and associated stuff CSS*/
.taskbar {
    position: relative;

    width: 1024px;
    height: 28px;

    top: 740px;

    cursor: default;
}

#start-button {
    position: relative;

    width: 54px;
    height: 22px;

    bottom: 28px;
    right: 483px;

    cursor: pointer;
}

#start-menu {
    position: relative;

    width: 168px;
    height: 341px;

    right: 426px;
    bottom: 419px;
}

#neocities {
    position: relative;
    
    width: 125px;
    height: 28px;

    top: 333px;
    left: 11px;

    cursor: pointer;
}