#whoare {
    font-family: 'Courier Prime';
    color: white;
    text-align: center;
}

#backbutton {
    position: relative;
    align-content: center;
}

#council1 {
    font-family: 'Courier Prime';
    color: white;
    text-align: center;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none
}

.inline-block-child {

    display: inline-block;
}

#yomom2 {
    position: relative;
    display: inline-block;
    color: lightgreen;
    left: -9.7vw;
    top: -2.5vw;
    font-size: 20px;
}

#yomom {
    position: relative;
    display: inline-block;
    color: cornflowerblue;
    left: 7.4vw;
    top: 4vw;
    font-size: 20px; 
}

#eric {
    position: relative;;
    left: -10vw;
    top: 5vh;
}

/*eric1.html css stuff*/
#erictext {
    position: relative;
    left: 7vw;
    top: -28vh;
    color: white;
    font-size: 22px;
    font-family: 'Comic Relief';
    text-align: left;
}

#erictext2 {
    position: relative;
    color: white;
    left: -w;
    top: -25vh;
    font-size: 22px;
    font-family: 'Comic Relief';
    text-align: left;
}

#line {
    position: relative;
    border-top: 3px solid white;
    top: -13vw;
    width: 800px;
}

#erictext3A {
    position: relative;
    color: white;
    left: -w;
    top: -26vh;
    font-family: 'Comic Relief';
    text-align: left;
}

#example {
    position: relative;
    left: vw;
    top: -24vh;
    border: 4px solid white;
}

#div1 {
    width: 400px;
}

#div2 {
    width: 600px;
}

#div3 {
    width: 600px;
}

#person1 {
    position: relative;
    color: lime;
    font-family: 'IBM Plex Mono';
    text-align: left;
    top: -22vh;
    left: -5vw
}

#person2 {
    position: relative;
    color: white;
    font-family: 'IBM Plex Mono';
    text-align: right;
    top: -20vh;
    left: 5vw;
    padding-bottom: 30px;
}

#detail {
    position: relative;
    color: white;
    font-family: 'IBM Plex Mono';
    text-align: center;
    top: -22vh;
}