html {
    height: 934px;
}

/* header CSS */

.header {
    position: relative;

    width: 800px;
    height: 100px;
    top: -1px;
}

#logo {
    position: relative;
    top: 0.5vh;
}

.floating {
    position: relative;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
    transform: translateY(0);
    }

    50% {
    transform: translateY(-5px);
    }

    100% {
    transform: translateY(0);
    }
}

/* navigation CSS */

.nav_main {
    position: relative;

    width: 796px;
    height: 50px;
    top: 0.3vh;

    background-image: url("backgrounds/b7.gif");
    border: 2px solid white;
}
/* sub category for buttons*/
#temp {
    position: relative;

    top: 7px;
    margin-right: 4px;

    border: 2px solid rgb(61, 0, 0);
}

#HATE {
    position: relative;

    top: 7px;
    margin-right: 4px;

    border: 2px solid rgb(255, 217, 0);
}

#eric {
    position: relative;

    top: 7px;
    margin-right: 4px;   

    border: 2px solid white;
}

#fish {
    position: relative;

    top: 7px;
    margin-right: 4px;
    
    border: 2px solid gray;
}

#aboutme {
    position: relative;

    top: 7px;
    margin-right: 4px;

    border: 2px solid yellow;
}

#blog {
    position: relative;

    top: 7px;
    margin-right: 4px;

    border: 2px solid black;
}

/*sub sub category for my own button*/
.grem-button {
    position: relative;

    top: 620px;
}

#button-grem {
    position: relative;

    width: 88px;
    height: 31px;

    border: 2px solid rgb(35, 120, 189);
}

#grem-button {
    position: relative;
}

#descriptor {
    position: relative;

    top: 10px;

    font-size: 16px;
    font-family: "Jersey 25";

    color: rgb(255, 196, 0);
    text-shadow: 1px 1px 2px black;
}

/* columns / center CSS */

.content {
    position: relative;

    width: 800px;
    height: 800px;
    top: 6px;
}

.content-area1 {
    position: relative;
    float: left;

    width: 196px;
    height: 796px;

    background-image: url("backgrounds/tumblr_ce6a9f6b614a823bf3bedce5537ef1dc_20e3e7ab_1280.png");
    border: 2px solid white;
}

#buttons-galore {
    position: relative;

    top: 15px;
}

.content-area2 {
    position: relative;
    float: center;

    width: 400px;
    height: 796px;

    background-image: url("backgrounds/purpleweb.gif");
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
/*sub category for version text*/
.versiontext {
    position: relative;
    float: bottom;

    width: 400px;
    top: 635px;
}

#versiontext {
  color: white;
  font-size: 12px;
  font-family: "Jersey 25";
  text-shadow: 1px 1px 1px black;
}
/*sub category for page modified information*/
.page-modified {
    position: relative;
    float: bottom;

    width: 400px;
    top: 620px;
}

#page {
    position: relative;

    top: 8px;

    color: white;
    font-size: 10px;
    font-family: "Jersey 25";
}

#demo {
    color: white;
    font-size: 10px;
}
/*continuing the content CSS*/
.content-area3 {
    position: relative;
    float: right;

    width: 196px;
    height: 796px;
    bottom: 800px;

    background-image: url("backgrounds/bluebrick.jpg");
    border: 2px solid white;
}

#title {
    position: relative;

    font-size: 14px;
    font-family: "Jersey 25";
    color: white;
}